.about-me {
    padding: 40px 20px;
    background-color: #282c34;
    text-align: center;
    color: #6ec0d4;
  }
  
  .about-content {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 20px;
    color: #6ec0d4;
    font-family: 'Roboto', sans-serif;

  }
  
  /* Ajustes para telas menores */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column; /* Muda a direção do flexbox para coluna */
      align-items: center; /* Centraliza os itens */
    }
  
    .profile-image {
      width: 300px; /* Ajuste o tamanho da imagem conforme necessário */
      margin: 0 0 20px 0; /* Espaço entre a imagem e o texto */
    }
  
    .description {
      max-width: 90%; /* Limita a largura do texto */
      text-align: center; /* Centraliza o texto */
      font-size: 20px; /* Ajusta o tamanho da fonte */
    }
  }

  
  h2 {
    margin-bottom: 20px;
    


  }
  
  h3 {
    margin-top: 20px;
   

  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0; /* Espaçamento entre itens da lista */
  }
  