.footer {
    padding: 20px;
    background-color: #282c34;
    color:#6ec0d4;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color:#6ec0d4;
    text-decoration: none;
    margin: 0 10px; /* Espaçamento entre os links */
  }
  
  .social-links a:hover {
    text-decoration: underline; /* Efeito ao passar o mouse */
  }
  